body{
    background: linear-gradient(to right, #004D85 0%, #166299 50%, #cae3f2 100%);
                               
}  
#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buttons{
    display: inline-flex;
}
h1{
    color: rgb(240, 245, 255);
    font-size: 5vw;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition: all 0.4s ease-in-out;
}
p{
    color: #235c87;
    background-color: azure;
    font-size: 100px;
}
button{
    width: 150px;
    height: 5vw;
    margin: 3vw;
    border-radius: 8px;
    color: rgb(71, 91, 154);
    border-color: #f0ffff;
    font-size: 2.8vw;
    transition: all 0.4s ease-in-out;
}
button:hover{
    color: azure;
    background: linear-gradient(to right, #004D85 0%, #166299 50%, #cae3f2 100%);
    transform: scale(1.3);
}
h1:hover{
    color: azure;
    transform: scale(1.3);
}
